body
{ 
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
}

#map 
{
  height: 100%;
  width: 100%;
}

#panelFooter 
{
  height: auto;
  width: auto;
  color: white;
  text-align: center;
  margin: 50px auto;
  margin-top: 100px;
  font-size: 16px;
}

#panelMapaServicios 
{
  height: 300px;
  width: 860px;  
  margin: 50px auto;
  padding: 10px;
  background-color: grey;
}

#panelServicios 
{
  height: auto;
  width: 860px;
  background-color: #BDBDBD;
  margin: 50px auto;
  padding: 10px;
}

#panelInfoImagen
{
  width: 800px;
  height: 250px;
  margin: 20px auto;
  margin-bottom: 10px;
}

#panelInformacion
{
  height: 250px;
  width: 50%;
  float: left;
}

#panelImagenServicio
{
  height: 250px;
  width: 50%;
  background-color: grey;
  padding: 10px;
  float: right;
}

#imagenServicio
{
  height: 100%;
  width: 100%;
}

#panelNombreServicio
{
  width: auto;
  height: auto;
  margin: 50px auto;
  margin-top: 10px;
  text-align: center;
}

#nombreServicio
{
  font-size: 20pt;
  color: #6E6E6E;
}

.etiqueta
{
  padding: 0 0 0 5px;
  font-size: 15pt;
}

#panelBotoneraServicios
{
  height: 35px;
  width: 150px;
  margin: 45px auto;
  margin-bottom: 0px;
  text-align: center;
}

#botonComentar
{ 
  height: 35px;
  width: 150px;
  margin-right: 10px;   
  cursor: pointer;
  border: none;
  background-color: grey;
  font-size: 15pt;
}

#botonComentar:hover 
{
  outline: none;
  background-color: dimgray;
}

#panelError
{
  width: 860px;
  height: auto;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
}

#etiquetaError 
{
  display: block;
  font-size: 20pt;
  text-align: center;
  margin: 10px;
}

#etiquetaAviso 
{
  display: block;
  font-size: 15pt;
  text-align: center;
  margin: 10px;
}