{% extends 'layout.twig' %}

{% block stylesheet %}
  <link rel='stylesheet' href='/stylesheets/estilosComentarios.css'>
{% endblock %}

{% block javascript %}
  <script>
    var idServicio = '{{servicio.id}}';
  </script>
  <script src="/javascripts/funcionesComentarios.js"></script>
  <script src="/javascripts/funcionesAPI.js"></script>
{% endblock %}

{% block body %}

	<!-- Creo barra de busquedas -->
    <div class="topnav">
    <!-- Centered link -->
    <div class="topnav-centered">
      <a id="infoUsuario" class="active"></a>
    </div>
      <!-- Left-aligned links (default) -->
      <a id="linkInicio" href="#" class="active">Inicio</a>
      <a id="linkEstilo" href="#" >Cambiar Estilo</a>
      <!-- Right-aligned links -->
      <div class="topnav-right" id="panelLogin">
        <a id="linkLogin" href="#">Iniciar Sesión</a>
      </div>
    </div>

    <!-- Etiqueta para identificar el servicio -->
    <h4 id="nombreServicio">¡Deje su comentario a {{ servicio.nombre }}! </h4>

    <!-- Panel Formulario -->
    <div id= "panelFormulario">

      <div>
        <div id="panelUsuarioActual">
          <h4 id="nombreUsuario">Usuario actual: </h4>
        </div>

        <!-- Caja para comentarios -->
        <textarea placeholder="Inserte comentario*" id="cajaComentarios"></textarea>

        <!-- Panel para la botonera -->
        <div id="panelBotoneraComentarios">
          <button type="button" class="botonComentarios" id="botonPostear">Postear</button>
          <button type="button" class="botonComentarios" id="botonVolverComentario">Volver</button>
        </div>

      </div>

    </div>

    <!-- Panel que muestra los comentarios -->
    <div id= "panelComentarios">
      <div id="listaComentarios">

      {% if servicio.comentarios != '' %}
        <script>
          $("#panelComentarios").show();
        </script>
      {% endif %}

      {% for comentario in servicio.comentarios %}
        {% include 'comentariosPlantilla.twig' %}
      {% endfor %}

      </div>
    </div>

    <!-- Creo Footer -->
    <footer>
      <div id="panelFooter">
          Página web creada por García Matias y González Matias. © 2018 Service Maps.
      </div>
    </footer>

{% endblock %}
