<div id="panelFormatoComentario">
  <span id="formatoComentariosNombre"> <b> Usuario: {{comentario.usuario}} </b> </span>  
  <br>
  <span id="formatoComentariosFecha"> <b> Fecha: {{comentario.fecha}} </b> </span>
  <hr>
  <span id="formatoComentariosTexto"> {{comentario.comentario}} </span>
</div>
