{% extends 'layout.twig' %}

{% block stylesheet %}
  <link rel='stylesheet' href='/stylesheets/estilosIndex.css'>
{% endblock %}

{% block javascript %}
  <script src="/javascripts/funcionesIndex.js"></script>
  <script src="/javascripts/funcionesBusqueda.js"></script>
  <script src="/javascripts/funcionesAPI.js"></script>
{% endblock %}

{% block body %}

    <div id="panelBanner">
      <image id="imagenBanner" src="images/imgs/banner.jpeg" ></image>
    </div>

    <!-- Creo barra de busquedas -->
    <div id="panelBusqueda">
      <form>
        <input id="inputBusqueda" type="search" placeholder="Buscar servicio ..." aria-label="Buscar servicio">
        <button id="botonBusqueda" type="submit" aria-label="Buscar">Buscar</button>
      </form>
    </div>

    <!-- Creo panel del mapa -->
    <div id="panelMapa">
      <div id="map">
      </div>
    </div>

    <!-- Creo descripcion para el panel de botonera de filtros -->
    <div class="panelDescripcionFiltros">
      <span id="textoInformacion">¿Cómo podemos ayudarte?</span>
    </div>

    <!-- Creo panel de botonera para los filtros -->
    <div id="panelBotoneraFiltro">
        <button id="filtrarTodos" class="botonFiltrar activo" type="submit">Todos los Servicios</button>
        <button id="filtrarEstaciones" class="botonFiltrar" type="submit">Estaciones de Servicio</button>
        <button id="filtrarGomerias" class="botonFiltrar" type="submit">Gomerías</button>
        <button id="filtrarTalleres" class="botonFiltrar" type="submit">Talleres Mecánicos</button>
    </div>

{% endblock %}
