<!DOCTYPE html>
<html lang="es">
  <head>

    <title>{{ title }}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=860">
    <link rel="shortcut icon" href="images/icon/favicon.ico">

    <!-- Cargo links externos -->
    <link rel='stylesheet' href='/stylesheets/estilos.css' />
    <link rel='stylesheet' href='/stylesheets/clasico.css' id="temaActual" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
  </head>
  <body>    

	{% block body %}
	{% endblock %} 

  </body>
</html>