{% extends "layout.twig" %}

{% block body %}

	<!-- Creo barra de busquedas -->
    <div class="topnav">
      <!-- Left-aligned links (default) -->
      <a id="linkInicio" href="#" class="active">Inicio</a>
      <a id="linkEstilo" href="#" >Cambiar Estilo</a> 
    </div>

    <!-- Creo panel del mapa -->
    <div id="panelMapaServicios">
      <div id="map">    
      </div>
    </div>

    <!-- Creo panel de los servicios -->
    <div id="panelServicios">

      <!-- Creo descripcion para el panel de botonera -->
      <div id="panelNombreServicio">
        <span id="nombreServicio"></span>
      </div>

      <div id="panelInfoImagen">

        <!-- Creo panel de la informacion -->
        <div id="panelInformacion">

          <!-- Creo las etiquetas -->
          <h4 class="etiqueta" id="tipoServicio"><span class="glyphicon glyphicon-cog"></span> Tipo:</h4>
          <h4 class="etiqueta" id="direccionServicio"><span class="glyphicon glyphicon-map-marker"></span> Dirección:</h4>
          <h4 class="etiqueta" id="telefonoServicio"><span class="glyphicon glyphicon-earphone"></span> Teléfono:</h4>
          <h4 class="etiqueta" id="horarioServicio"><span class="glyphicon glyphicon-time"></span> Horario:</h4>
          <h4 class="etiqueta" id="webServicio"><span class="glyphicon glyphicon-globe"></span> Sitio web:</h4>

          <!-- Creo panel de la botonera -->
          <div id="panelBotoneraServicios">
            <button id="botonComentar" type="button">Comentar</button>
          </div>

        </div>

        <!-- Creo panel de la imagen -->
        <div id="panelImagenServicio">
          <img id="imagenServicio">
        </div>

      </div>

    </div>

    <!-- Creo Footer -->
    <footer>
      <div id="panelFooter">
          Página web creada por García Matias y González Matias. © 2018 Service Maps.          
      </div>
    </footer>

    <!-- Cargo scripts externos -->    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
    <script src="javascripts/estilos.js"></script>
    <script src="javascripts/funcionesServicios.js"></script>  

{% endblock %}